.description {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 20px;
}

.avatar {
  width: 125px;
  border-radius: 50%;
  border: 1px solid pink;
  margin-bottom: 20px;
  max-height: 100%;
  display: block;
  margin-top: 50px;
}

.name {
  text-align: center;
  font-size: larger;
  color: wheat;
}

.tag {
  text-align: center;
  color: greenyellow;
}
